@model IEnumerable<GigHub.Core.Models.Gig>

@{
    ViewBag.Title = "Mine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Upcoming Gigs</h2>

<ul class="gigs voffset1">
    @foreach (var gig in Model)
    {
        <li>

            <div class="date">
                <div class="month">
                    @gig.DateTime.ToString("MMM")
                </div>

                <div class="day">
                    @gig.DateTime.ToString("d ")
                </div>

            </div>

            <div class="details">

                <span class="artist">
                    @gig.Vanue
                </span>

                <span class="genre">
                    @gig.Genre.Name
                </span>
                <div class="actions">
                    <a href="@Url.Action("Edit", "Gigs", new { id = gig.Id })" >
                        Edit
                    </a>|
                    <a href="#" class="js-cancel" data-gig-id="@gig.Id" >
                        Cancel
                    </a>
                </div>
            </div>
            


        </li>
    }
</ul>

@section scripts
{
    <script>
        $(document).ready(function() {


            $('.js-cancel').click(function(e) {

                var link = $(e.target);


                bootbox.confirm({
                    message: "Are You Sure to Cancel This Gig?",
                    buttons: {
                        confirm: {
                            label: 'Cancel',
                            className: 'btn-danger'
                        },
                        cancel: {
                            label: 'Back',
                            className: 'btn-default'
                        }
                    },
                    callback: function (result) {

                        if (result) {

                            $.ajax({
                                url: "/api/gigs/" + link.attr("data-gig-id"),

                                method: "DELETE"

                            }).done(function() {


                                link.parents("li").fadeOut(function() {

                                    $(this).remove();

                                });

                            }).fail(function() {

                                alert("Something failed");
                            });

                        }

                    }
                });

            });


        });
    </script>
}

